snippet func
	func $1($2) $3 {
		$0
	}
snippet if
	if $1 {
		$2
	}
snippet else if
	else if $1 {
		$2
	}
snippet else
	else {
		$0
	}
snippet if else
	if $1 {
		$2
	} else {
		$0
	}
snippet p
	fmt.${1|Print,Println,Printf|}($2)
snippet sp
	fmt.${1|Sprint,Sprintln,Sprintf|}($2)
snippet fp
	fmt.${1|Fprint,Fprintln,Fprintf|}($2)
