snippet inc
	$1 = $1 + 1
snippet dec
	$1 = $1 - 1
snippet req
	require("${1:module}")
snippet rt
	return $0
snippet l
	local $0
snippet lreq
	local ${1:var} = require("${2:module}")
snippet lfun
	local function $1($2)
		$3
	end
